@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-decoration: none;
    background-color: #DEDEDE;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button, input {
    font-family: inherit;
}

a {
    text-decoration: none;
    display: inline-block; /*делаем ссылки блочно-строчными, что поможет сделать область ссылки подстраиваемую под содержимое ссылки*/
    color: #000;
}

.container {
    margin: 0 auto;
    width: 1160px;
} 

nav {
    margin: 0;
    padding: 0;
    background-color: #E7B400;
}

nav .nav_header_ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    font-size: 16px;
}

.contacts_nav span {
    display: block;
}

.contacts_nav span:first-child  {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}

.contacts_nav span:last-child  {
    font-size: 16px;
    font-weight: 600;
}

.katalog {
    margin-left: 72px;
    font-weight: 400;
}

.basket a img {
    width: 20px;
}

.basket a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none !important;
}

.nav_header_ul li a:hover {
    text-decoration: underline;
}

.basket {
    background-color: #fff;
    padding: 10px 25px;
    border: #fff 1px solid;
    border-radius: 10px;
}

.basket:hover{
   border: #000 1px solid;
   transition: 0.2s;
}





.footer_info {
    width: 100%;
    height: 360px;
    background-color: #E7B400;
    display: flex;
    align-self: center;
}

.info_of_user {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.footer_logo img {
    width: 160px;
    height: 160px;
    
}

.contacts_num {
    display: flex;
    align-items: center;
    justify-self: space-between;
    gap: 10px;
    flex-direction: column;
} 

.contacts_mail {
    display: flex;
    align-items: center;
    justify-self: space-between;
    gap: 10px;
    flex-direction: column;
    margin-top: 15px;
}

.social_mess a img {
    width: 30px;
    margin: 0px 5px;
}

.social_mess a img:hover {
    cursor: pointer;
}

.company_info li {
    font-size: 16px;
    color: #000;
    margin: 20px 0;   
}

.company_info li:first-child {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 36px;
}

.user_help li {
    font-size: 16px;
    color: #000;
    margin: 20px 0;
}

.user_help li:first-child {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 36px;
}


