@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-decoration: none;
  background-color: #ffffff;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, input {
  font-family: inherit;
}

a {
  text-decoration: none;
  display: inline-block; /*делаем ссылки блочно-строчными, что поможет сделать область ссылки подстраиваемую под содержимое ссылки*/
  color: #000;
}

h2 {
  font-size: 40px;
  color: #000;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

/** header **/

.header {
   background-color: #E7B400;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    width: 80px;
}

.header__contacts {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

.header__contacts--item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.header__contacts--item--city {
    font-size: 14px;
    font-weight: 400;
}

.header__contacts--item--number {
    font-size: 16px;
    font-weight: 600;
}

.header__menu--list {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.header__button {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

.header__button:hover {
    border: 1px solid #000000;
    transition: 0.2s;
}

/** end header **/

/** breadcrumb **/

.breadcrumb {
    padding-top: 35px;
    margin-bottom: 80px;
}

.breadcrumb li {
    display: inline;
    font-weight: 300;
}

.breadcrumb li a {
    color: #4F4F4F;
}

.breadcrumb li:last-child {
    text-decoration: underline;
    color: #E7B400;
}

/** end breadcrumb **/


/** garden tools **/

.tools__garden>h2 {
    margin-bottom: 80px;
}

.tools__garden--filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tools__garden--filter>button {
    width: 235px;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    font-weight: 200;
    border: 0;
    border-radius: 5px;
}

.tools__garden--filter>button:hover {
    background-color: #E7B400;
    color: #000000;
    font-weight: 400;
    transition: 0.2s;
}

.tools__garden--list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    margin-top: 80px;
}

.tools__garden--item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
}

.tools__garden--item>img {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.name__garden--card {
    text-align: start;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}
  
.name__garden--card>a:hover {
    text-decoration: underline;
    color: rgb(49, 49, 49);
}
  
.characteristics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.options, .value {
    line-height: 25px;
}
  
.options {
    text-align: start;
    font-weight: 300;
}
  
.values {
    text-align: end;
    font-weight: 500;
}

.price {
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price>p {
    font-weight: 700;
}

.add__basket {
    padding: 10px 25px;
    outline: none;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #E7B400;
    font-size: 18px;
}
  
.add__basket:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.2s;
    cursor: pointer;
}

/** end garden tools **/

/** footer **/

.footer {
    background-color: #E7B400;
    margin-top: 100px;
    padding: 70px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo img {
    width: 18vh;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.footer__contacts--number {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.footer__contacts--number img {
    width: 30px;
}

.footer__contacts--mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.footer__messenger--icon {
    display: flex;
    column-gap: 10px;
}

.footer__company--link {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
}

.footer__company--link li:first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer__users--link {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
}

.footer__users--link li:first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

/** end footer **/