<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="styles/style.css">
    <title>Tools House</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/index" class="header__logo">
                <img src="img/top-logo.png" alt="logo">
            </a>
            <div class="header__contacts">
                <div class="header__contacts--item">
                    <span class="header__contacts--item--city">Ростов-на-Дону</span>
                    <span class="header__contacts--item--number">+7 (911) 911-01-01</span>
                </div>
                <div class="header__contacts--item">
                    <span class="header__contacts--item--city">Таганрог</span>
                    <span class="header__contacts--item--number">+7 (911) 911-01-01</span>
                </div>
            </div>
            <nav class="header__menu">
                <ul class="header__menu--list">
                    <li class="header__menu--list--link">
                        <a href="/catalog">Каталог</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/problem">Скупка</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/company_about">О компании</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/contacts">Контакты</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/problem">Оплата и доставка</a>
                    </li>
                </ul>
            </nav>
            <button class="header__button">
                <img src="img/icon/basket-header.svg" alt="basket">
                Корзина
            </button>
        </div>
    </header>
    <main>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/index.html">Главная</a></li>
                <li>\</li>
                <li>О компании</li>
            </ul>
            <section class="company__services">
                <h2>О компании</h2>
                <h3>Виды услуг</h3>
                <div class="company__services--list">
                    <div class="services__item">
                        <img src="img/content/Виды услуг/icon_1.png" alt="">
                        <div class="services__item--description">
                            <h4>Обслуживание и ремонт</h4>
                            <p>Наши специализированные сервисы производят ремонт инструмента любой сложности. Вся техника обслуживается качественными и надежными расходными материалами.</p>
                        </div>
                    </div>
                    <div class="services__item">
                        <img src="img/content/Виды услуг/icon_2.png" alt="">
                        <div class="services__item--description">
                            <h4>Сдача инструмента в аренду</h4>
                            <p>Инструмент, который сдается в аренду является лучшим временным решением для любого рода деятельности. Весь инструмент обслужен и готов к работе уже сейчас.</p>
                        </div>
                    </div>
                    <div class="services__item">
                        <img src="img/content/Виды услуг/icon_3.png" alt="">
                        <div class="services__item--description">
                            <h4>Скупка вашего инструмента</h4>
                            <p>Скупаем устаревшую, сломанную технику. При сдаче своей техники получаете скидку на заказ новой. Скупка производится в сервисном центре.</p>
                        </div>
                    </div>
                    <div class="services__item">
                        <img src="img/content/Виды услуг/icon_4.png" alt="">
                        <div class="services__item--description">
                            <h4>Продажа расходников и запчастей</h4>
                            <p>В нашем магазине продаются материалы и запчасти от лидирующих брендов, которые славятся своим качеством и ценой. При заказе расходных материалов и запчастей действует скидка на установку и обслуживание вашей техники.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="company__info">
                <div class="company__info-item">
                    <h2>Отзывчивость</h2>
                    <p>Наши сотрудники всегда помогут Вам</p>
                </div>
                <div class="company__info-item">
                    <h2>Более 500 единиц</h2>
                    <p>В нашем магазине имеется большой ассортимент товара</p>
                </div>
                <div class="company__info-item">
                    <h2>Быстрая сделка</h2>
                    <p>Мы способствуем ускорению проведения сделок</p>
                </div>
            </section>
            <section class="company__description">
                <div class="company__description--item">
                    <h3>О Доме инструмента</h3>
                    <p>Оборудование Champion разработано с учетом потребностей российских потребителей и адаптировано к российским климатическим условиям. Продукция бренда отличается своей долговечностью и продуманностью полного цикла замены комплектующих. Постоянное наличие запчастей и расходников для любой техники позволяет продлить срок эксплуатации оборудования в течение многих лет. Благодаря постоянным инновациям, долговечности и оптимальному соотношению цены и качества, техника Чемпион уже многие годы остается одним из лидеров на рынке садовой техники.</p>
                </div>
                <div class="company__description--item">
                    <h3>Дом инструмента – ваш надежный помощник!</h3>
                    <p>Инструменты Чемпион (Champion) включают в себя всю линейку садово-бытовых устройств: газонокосилки, мотоблоки и культиваторы, бензопилы, триммеры, дизельные и бензиновые генераторы, двигатели для любой техники, снегоуборочная и садовая техника. В нашем интернет-магазине представлена только оригинальная продукция известного производителя техники для садовых и строительных работ Champion.</p>
                </div>
            </section>
            <section class="company__link">
                <div class="company__link--item">
                    <h2>Мы на Авито</h2>
                    <p>Ознакомтесь с нашими отзывами на <a href="">Авито</a></p>
                </div>
                <div class="company__link--item">
                    <h2>О нас на Яндексе</h2>
                    <p>Ознакомтесь с нашими отзывами на <a href="">Яндексе</a></p>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <a href="/index" class="footer__logo">
                <img src="img/top-logo.png" alt="logo">
            </a>
            <div class="footer__contacts">
                <div class="footer__contacts--number">
                    <img src="img/icon/phone.svg" alt="phone">
                    <span>Ростов-на-Дону: +7 (911) 911-01-01</span>
                    <span>Таганрог: +7 (911) 911-02-02</span>
                </div>
                <div class="footer__contacts--mail">
                    <img src="img/icon/mail.svg" alt="mail">
                    <span>toolshouse@gmail.com</span>
                </div>
                <div class="footer__messenger--icon">
                    <a href="https://vk.com/dom.instrumenta_rnd">                        
                        <img src="img/icon/vk_icon.png" alt="vk">
                    </a>
                    <a href="https://vk.com/dom.instrumenta_rnd">                        
                        <img src="img/icon/wa_icon.png" alt="wa">
                    </a>
                    <a href="https://vk.com/dom.instrumenta_rnd">                    
                        <img src="img/icon/tg_icon.png" alt="tg">
                    </a>
                </div>
            </div>
            <div class="footer__company">
                <ul class="footer__company--link">
                    <li>О компании</li>
                    <li><a href="/company_about">О нас</a></li>
                    <li><a href="/problem.html">Политика конфиденциальности</a></li>
                    <li><a href="/problem.html">Пользовательское соглашение</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__users">
                <ul class="footer__users--link">
                    <li>Для пользователя</li>
                    <li><a href="/catalog">Каталог</a></li>
                    <li><a href="/garden__tools">Корзина</a></li>
                    <li><a href="/problem">Скупка</a></li>
                    <li><a href="/problem">Оплата и доставка</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>