<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="styles/style.css">
    <title>Tools House</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="" class="header__logo">
                <img src="img/top-logo.png" alt="logo">
            </a>
            <div class="header__contacts">
                <div class="header__contacts--item">
                    <span class="header__contacts--item--city">Ростов-на-Дону</span>
                    <span class="header__contacts--item--number">+7 (911) 911-01-01</span>
                </div>
                <div class="header__contacts--item">
                    <span class="header__contacts--item--city">Таганрог</span>
                    <span class="header__contacts--item--number">+7 (911) 911-01-01</span>
                </div>
            </div>
            <nav class="header__menu">
                <ul class="header__menu--list">
                    <li class="header__menu--list--link">
                        <a href="">Каталог</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="">Скупка</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="">О компании</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="">Контакты</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="">Оплата и доставка</a>
                    </li>
                </ul>
            </nav>
            <button class="header__button">
                <img src="img/icon/basket-header.svg" alt="basket">
                Корзина
            </button>
        </div>
    </header>
    <main>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="">Главная</a></li>
                <li>\</li>
                <li>Контакты</li>
            </ul>
            <section class="main__contacts">
                <h2>Контакты</h2>
                <div class="contacts__container">
                    <div class="contacts__container--number">
                        <h2>Номер телефона сервиса</h2>
                        <div class="container__number--list">
                            <h3>Таганрог</h3>
                            <p>+7 (909) 414-26-32</p>
                            <h3>Ростов-на-Дону</h3>
                            <p>+7 (909) 414-26-32</p>
                        </div>
                    </div>
                    <div class="contacts__container--address">
                        <h2>Адреса сервисов</h2>
                        <div class="container__address--list">
                            <h3>Таганрог</h3>
                            <p>ул. Маршала Жукова, 23 </p>
                            <h3>Ростов-на-Дону</h3>
                            <p>ул. Малиновского, 54</p>
                        </div>
                    </div>
                    <div class="contacts__container--social">
                        <h2>Социальные сети</h2>
                        <div class="container__social--icon">
                            <a href=""><img src="img/icon/vk_icon.png" alt=""></a>
                            <a href=""><img src="img/icon/wa_icon.png" alt=""></a>
                            <a href=""><img src="img/icon/tg_icon.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </section>
            <img src="img/content/logic.png" alt="">
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <a href="/index" class="footer__logo">
                <img src="img/top-logo.png" alt="logo">
            </a>
            <div class="footer__contacts">
                <div class="footer__contacts--number">
                    <img src="img/icon/phone.svg" alt="phone">
                    <span>Ростов-на-Дону: +7 (911) 911-01-01</span>
                    <span>Таганрог: +7 (911) 911-02-02</span>
                </div>
                <div class="footer__contacts--mail">
                    <img src="img/icon/mail.svg" alt="mail">
                    <span>toolshouse@gmail.com</span>
                </div>
                <div class="footer__messenger--icon">
                    <a href="">                        
                        <img src="img/icon/vk_icon.png" alt="vk">
                    </a>
                    <a href="">                        
                        <img src="img/icon/wa_icon.png" alt="wa">
                    </a>
                    <a href="">                    
                        <img src="img/icon/tg_icon.png" alt="tg">
                    </a>
                </div>
            </div>
            <div class="footer__company">
                <ul class="footer__company--link">
                    <li>О компании</li>
                    <li><a href="/company_about">О нас</a></li>
                    <li><a href="">Политика конфиденциальности</a></li>
                    <li><a href="">Пользовательское соглашение</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__users">
                <ul class="footer__users--link">
                    <li>Для пользователя</li>
                    <li><a href="/catalog">Каталог</a></li>
                    <li><a href="">Корзина</a></li>
                    <li><a href="">Скупка</a></li>
                    <li><a href="">Оплата и доставка</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>