<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleGarden.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/index.html" class="header__logo">
                <img src="img/top-logo.png" alt="logo">
            </a>
            <div class="header__contacts">
                <div class="header__contacts--item">
                    <span class="header__contacts--item--city">Ростов-на-Дону</span>
                    <span class="header__contacts--item--number">+7 (911) 911-01-01</span>
                </div>
                <div class="header__contacts--item">
                    <span class="header__contacts--item--city">Таганрог</span>
                    <span class="header__contacts--item--number">+7 (911) 911-01-01</span>
                </div>
            </div>
            <nav class="header__menu">
                <ul class="header__menu--list">
                    <li class="header__menu--list--link">
                        <a href="/catalog.html">Каталог</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/catalog.html">Скупка</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/company_about.html">О компании</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/contacts.html">Контакты</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/catalog.html">Оплата и доставка</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <ul class="breadcrumb">
        <li><a href="">Главная</a></li>
        <li>\</li>
        <li><a href="">Каталог</a></li>
        <li>\</li>
        <li><a href="">Аренда</a></li>
        <li>\</li>
        <li>Садовый инструмент</li>
    </ul>
    <section class="product">
        <div class="product__info">
          <div class="container">
            <h1 class="product__title">Каталог</h1>
            <h1 class="product__title product__title--gray">Садовый инструмент</h1>
          </div>
        </div>
        <div class="cards">
          <div class="card">
            <div class="card__top">
              <a href="#" class="card__image">
                <img
                  src="img/logic.png"
                  alt="who"
                />
              </a>
              <div class="card__label">-10%</div>
            </div>
            <div class="card__bottom">
              <div class="card__prices">
                <div class="card__price card__price--discount">62 000</div>
                <div class="card__price card__price--common">62 000</div>
              </div>
              <a href="#" class="card__title">
                Генератор бензиновый чиемпион
              </a>
              <button class="card__add">В корзину</button>
            </div>
          </div>
          <div class="card">
            <div class="card__top">
              <a href="#" class="card__image">
                <img
                  src="img/logic.png"
                  alt="who"
                />
              </a>
              <div class="card__label">-10%</div>
            </div>
            <div class="card__bottom">
              <div class="card__prices">
                <div class="card__price card__price--discount">62 000</div>
                <div class="card__price card__price--common">62 000</div>
              </div>
              <a href="#" class="card__title">
                Генератор бензиновый чиемпион
              </a>
              <button class="card__add">В корзину</button>
            </div>
          </div>
          <div class="card">
            <div class="card__top">
              <a href="#" class="card__image">
                <img
                  src="img/logic.png"
                  alt="who"
                />
              </a>
              <div class="card__label">-10%</div>
            </div>
            <div class="card__bottom">
              <div class="card__prices">
                <div class="card__price card__price--discount">62 000</div>
                <div class="card__price card__price--common">62 000</div>
              </div>
              <a href="#" class="card__title">
                Генератор бензиновый чиемпион
              </a>
              <button class="card__add">В корзину</button>
            </div>
          </div>
          <div class="card">
            <div class="card__top">
              <a href="#" class="card__image">
                <img
                  src="img/logic.png"
                  alt="who"
                />
              </a>
              <div class="card__label">-10%</div>
            </div>
            <div class="card__bottom">
              <div class="card__prices">
                <div class="card__price card__price--discount">62 000</div>
                <div class="card__price card__price--common">62 000</div>
              </div>
              <a href="#" class="card__title">
                Генератор бензиновый чиемпион
              </a>
              <button class="card__add">В корзину</button>
            </div>
          </div>
          <div class="card">
            <div class="card__top">
              <a href="#" class="card__image">
                <img
                  src="img/logic.png"
                  alt="who"
                />
              </a>
              <div class="card__label">-10%</div>
            </div>
            <div class="card__bottom">
              <div class="card__prices">
                <div class="card__price card__price--discount">62 000</div>
                <div class="card__price card__price--common">62 000</div>
              </div>
              <a href="#" class="card__title">
                Генератор бензиновый чиемпион
              </a>
              <button class="card__add">В корзину</button>
            </div>
          </div>
          <div class="card">
            <div class="card__top">
              <a href="#" class="card__image">
                <img
                  src="img/logic.png"
                  alt="who"
                />
              </a>
              <div class="card__label">-10%</div>
            </div>
            <div class="card__bottom">
              <div class="card__prices">
                <div class="card__price card__price--discount">62 000</div>
                <div class="card__price card__price--common">62 000</div>
              </div>
              <a href="#" class="card__title">
                Генератор бензиновый чиемпион
              </a>
              <button class="card__add">В корзину</button>
            </div>
          </div>
          <div class="card">
            <div class="card__top">
              <a href="#" class="card__image">
                <img
                  src="img/logic.png"
                  alt="who"
                />
              </a>
              <div class="card__label">-10%</div>
            </div>
            <div class="card__bottom">
              <div class="card__prices">
                <div class="card__price card__price--discount">62 000</div>
                <div class="card__price card__price--common">62 000</div>
              </div>
              <a href="#" class="card__title">
                Генератор бензиновый чиемпион
              </a>
              <button class="card__add">В корзину</button>
            </div>
          </div>
          <div class="card">
            <div class="card__top">
              <a href="#" class="card__image">
                <img
                  src="img/logic.png"
                  alt="who"
                />
              </a>
              <div class="card__label">-10%</div>
            </div>
            <div class="card__bottom">
              <div class="card__prices">
                <div class="card__price card__price--discount">62 000</div>
                <div class="card__price card__price--common">62 000</div>
              </div>
              <a href="#" class="card__title">
                Генератор бензиновый чиемпион
              </a>
              <button class="card__add">В корзину</button>
            </div>
          </div>
        </div>
    </section>
    <button class="cart" id="cart">
        <img class="cart__image" src="./images/cart.png" alt="Cart" srcset="" />
        <div class="cart__num" id="cart_num">0</div>
    </button>
    <div class="popup">
        <div class="popup__container" id="popup_container">
          <div class="popup__item">
            <h1 class="popup__title">Оформление заказа</h1>
          </div>
          <div class="popup__item" id="popup_product_list">
            <div class="popup__product">
              <div class="popup__product-wrap">
                <img
                  src="img/logic.png"
                  alt="Apple IPhone 14 Pro Max 256Gb"
                  class="popup__product-image"
                />
                <h2 class="popup__product-title">
                  Смартфон Apple IPhone 14 Pro Max 256Gb, золотой
                </h2>
              </div>
              <div class="popup__product-wrap">
                <div class="popup__product-price">135000</div>
                <button class="popup__product-delete">&#10006;</button>
              </div>
            </div>
          </div>
          <div class="popup__item">
            <div class="popup__cost">
              <h2 class="popup__cost-title">Итого</h2>
              <output class="popup__cost-value" id="popup_cost">0</output>
            </div>
            <div class="popup__cost">
              <h2 class="popup__cost-title">Скидка</h2>
              <output class="popup__cost-value" id="popup_discount">0</output>
            </div>
            <div class="popup__cost">
              <h2 class="popup__cost-title">Итого со скидкой</h2>
              <output class="popup__cost-value" id="popup_cost_discount"
                >0</output
              >
            </div>
          </div>
          <button class="popup__close" id="popup_close">&#10006;</button>
        </div>
    </div>
    <footer class="footer">
      <div class="container">
          <a href="/index" class="footer__logo">
              <img src="img/top-logo.png" alt="logo">
          </a>
          <div class="footer__contacts">
              <div class="footer__contacts--number">
                  <img src="img/icon/phone.svg" alt="phone">
                  <span>Ростов-на-Дону: +7 (911) 911-01-01</span>
                  <span>Таганрог: +7 (911) 911-02-02</span>
              </div>
              <div class="footer__contacts--mail">
                  <img src="img/icon/mail.svg" alt="mail">
                  <span>toolshouse@gmail.com</span>
              </div>
              <div class="footer__messenger--icon">
                  <a href="">                        
                      <img src="img/icon/vk_icon.png" alt="vk">
                  </a>
                  <a href="">                        
                      <img src="img/icon/wa_icon.png" alt="wa">
                  </a>
                  <a href="">                    
                      <img src="img/icon/tg_icon.png" alt="tg">
                  </a>
              </div>
          </div>
          <div class="footer__company">
              <ul class="footer__company--link">
                  <li>О компании</li>
                  <li><a href="/company_about">О нас</a></li>
                  <li><a href="">Политика конфиденциальности</a></li>
                  <li><a href="">Пользовательское соглашение</a></li>
                  <li><a href="/contacts">Контакты</a></li>
              </ul>
          </div>
          <div class="footer__users">
              <ul class="footer__users--link">
                  <li>Для пользователя</li>
                  <li><a href="/catalog">Каталог</a></li>
                  <li><a href="">Корзина</a></li>
                  <li><a href="">Скупка</a></li>
                  <li><a href="">Оплата и доставка</a></li>
              </ul>
          </div>
      </div>
  </footer>
    <script src="main.js"></script>
</body>
</html>