<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="styles/style.css">
    <title>Tools House</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/index" class="header__logo">
                <img src="img/top-logo.png" alt="logo">
            </a>
            <div class="header__contacts">
                <div class="header__contacts--item">
                    <span class="header__contacts--item--city">Ростов-на-Дону</span>
                    <span class="header__contacts--item--number">+7 (911) 911-01-01</span>
                </div>
                <div class="header__contacts--item">
                    <span class="header__contacts--item--city">Таганрог</span>
                    <span class="header__contacts--item--number">+7 (911) 911-01-01</span>
                </div>
            </div>
            <nav class="header__menu">
                <ul class="header__menu--list">
                    <li class="header__menu--list--link">
                        <a href="/catalog">Каталог</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/catalog_sale">Скупка</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/company_about">О компании</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/contacts">Контакты</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/garden_tools_sale">Оплата и доставка</a>
                    </li>
                </ul>
            </nav>
            <button class="cart header__button">
                <img src="img/icon/basket-header.svg" alt="basket">
                Корзина
                <div class="cart__num" id="cart_num">0</div>
            </button>
        </div>
    </header>
    <main>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="">Главная</a></li>
                <li>\</li>
                <li><a href="">Каталог</a></li>
                <li>\</li>
                <li><a href="">Аренда</a></li>
                <li>\</li>
                <li>Садовый инструмент</li>
            </ul>
            <section class="tools__garden">
                <h2>Садовый инструмент</h2>
                <div class="tools__garden--filter">
                    <button>Дешевле</button>
                    <button>Дороже</button>
                    <button>По весу</button>
                    <button>По мощности</button>
                </div>
                <div class="tools__garden--list">
                    <div class="tools__garden--item">
                        <img src="img/content/rent.png" alt="">
                        <p class="name__garden--card">
                            <a href="">Гениратор бензиновый Champion GG3301</a>
                        </p>
                        <div class="characteristics">
                            <div class="options">
                                <span>Макс. мощность (кВт):</span>
                                <span>Мощность ДВС (кВт/л.с.):</span>
                                <span>Вес (кг):</span>
                            </div>
                            <div class="values">
                                <span>3.1</span>
                                <span>4.4/6</span>
                                <span>46.5</span>
                            </div>
                        </div>
                        <div class="price">
                            <p>-1 200 р/сут.</p>
                        </div>
                        <button class="card__add add__basket">Добавить в корзину</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <div class="popup">
        <div class="popup__container" id="popup_container">
          <div class="popup__item">
            <h1 class="popup__title">Оформление заказа</h1>
          </div>
          <div class="popup__item" id="popup_product_list">
            <div class="popup__product">
              <div class="popup__product-wrap">
                <img
                  src="./images/iphone-14-pro-max-gold.png"
                  alt="Apple IPhone 14 Pro Max 256Gb"
                  class="popup__product-image"
                />
                <h2 class="popup__product-title">
                  Смартфон Apple IPhone 14 Pro Max 256Gb, золотой
                </h2>
              </div>
              <div class="popup__product-wrap">
                <div class="popup__product-price">135000</div>
                <button class="popup__product-delete">✖</button>
              </div>
            </div>
          </div>
          <div class="popup__item">
            <div class="popup__cost">
              <h2 class="popup__cost-title">Итого</h2>
              <output class="popup__cost-value" id="popup_cost">150000</output>
            </div>
            <div class="popup__cost">
              <h2 class="popup__cost-title">Скидка</h2>
              <output class="popup__cost-value" id="popup_discount">15000</output>
            </div>
            <div class="popup__cost">
              <h2 class="popup__cost-title">Итого со скидкой</h2>
              <output class="popup__cost-value" id="popup_cost_discount"
                >135000</output
              >
            </div>
          </div>
          <button class="popup__close" id="popup_close">✖</button>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
            <a href="/index" class="footer__logo">
                <img src="img/top-logo.png" alt="logo">
            </a>
            <div class="footer__contacts">
                <div class="footer__contacts--number">
                    <img src="img/icon/phone.svg" alt="phone">
                    <span>Ростов-на-Дону: +7 (911) 911-01-01</span>
                    <span>Таганрог: +7 (911) 911-02-02</span>
                </div>
                <div class="footer__contacts--mail">
                    <img src="img/icon/mail.svg" alt="mail">
                    <span>toolshouse@gmail.com</span>
                </div>
                <div class="footer__messenger--icon">
                    <a href="">                        
                        <img src="img/icon/vk_icon.png" alt="vk">
                    </a>
                    <a href="">                        
                        <img src="img/icon/wa_icon.png" alt="wa">
                    </a>
                    <a href="">                    
                        <img src="img/icon/tg_icon.png" alt="tg">
                    </a>
                </div>
            </div>
            <div class="footer__company">
                <ul class="footer__company--link">
                    <li>О компании</li>
                    <li><a href="/company_about">О нас</a></li>
                    <li><a href="">Политика конфиденциальности</a></li>
                    <li><a href="">Пользовательское соглашение</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__users">
                <ul class="footer__users--link">
                    <li>Для пользователя</li>
                    <li><a href="/catalog">Каталог</a></li>
                    <li><a href="">Корзина</a></li>
                    <li><a href="">Скупка</a></li>
                    <li><a href="">Оплата и доставка</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>