<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/index" class="header__logo">
                <img src="img/top-logo.png" alt="logo">
            </a>
            <div class="header__contacts">
                <div class="header__contacts--item">
                    <span class="header__contacts--item--city">Ростов-на-Дону</span>
                    <span class="header__contacts--item--number">+7 (911) 911-01-01</span>
                </div>
                <div class="header__contacts--item">
                    <span class="header__contacts--item--city">Таганрог</span>
                    <span class="header__contacts--item--number">+7 (911) 911-01-01</span>
                </div>
            </div>
            <nav class="header__menu">
                <ul class="header__menu--list">
                    <li class="header__menu--list--link">
                        <a href="/catalog">Каталог</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/problem">Скупка</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/company_about">О компании</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/contacts">Контакты</a>
                    </li>
                    <li class="header__menu--list--link">
                        <a href="/problem">Оплата и доставка</a>
                    </li>
                </ul>
            </nav>
            <button class="header__button cart" id="cart">
                <img class="cart__image" src="img/icon/basket-header.svg" alt="basket">
                Корзина
                <div class="cart__num" id="cart__num">0</div>
            </button>
        </div>
    </header>
    <main class="problem__list">
        <img src="img/content/rent.png" alt="problem">
        <h1 class="problem__h">Упс... что-то пошло не так</h1>
        <p class="problem__p">На данный момент контент на данной странице не доступен. Ведутся технические работы</p>
    </main>
    <footer class="footer">
        <div class="container">
            <a href="/index" class="footer__logo">
                <img src="img/top-logo.png" alt="logo">
            </a>
            <div class="footer__contacts">
                <div class="footer__contacts--number">
                    <img src="img/icon/phone.svg" alt="phone">
                    <span>Ростов-на-Дону: +7 (911) 911-01-01</span>
                    <span>Таганрог: +7 (911) 911-02-02</span>
                </div>
                <div class="footer__contacts--mail">
                    <img src="img/icon/mail.svg" alt="mail">
                    <span>toolshouse@gmail.com</span>
                </div>
                <div class="footer__messenger--icon">
                    <a href="https://vk.com/dom.instrumenta_rnd">                        
                        <img src="img/icon/vk_icon.png" alt="vk">
                    </a>
                    <a href="https://vk.com/dom.instrumenta_rnd">                        
                        <img src="img/icon/wa_icon.png" alt="wa">
                    </a>
                    <a href="https://vk.com/dom.instrumenta_rnd">                    
                        <img src="img/icon/tg_icon.png" alt="tg">
                    </a>
                </div>
            </div>
            <div class="footer__company">
                <ul class="footer__company--link">
                    <li>О компании</li>
                    <li><a href="/company_about">О нас</a></li>
                    <li><a href="/problem.html">Политика конфиденциальности</a></li>
                    <li><a href="/problem.html">Пользовательское соглашение</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__users">
                <ul class="footer__users--link">
                    <li>Для пользователя</li>
                    <li><a href="/catalog">Каталог</a></li>
                    <li><a href="/garden__tools">Корзина</a></li>
                    <li><a href="/problem">Скупка</a></li>
                    <li><a href="/problem">Оплата и доставка</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>